[submodule "src/px4_msgs"]
	path = src/px4_msgs
	url = git-ce.rwth-aachen.de:tuda-fsr/hardware-in-the-loop-pruefstand/px4_msgs.git
[submodule "src/px4_ros_com"]
	path = src/px4_ros_com
	url = git@git-ce.rwth-aachen.de:tuda-fsr/hardware-in-the-loop-pruefstand/px4_ros_com.git
